@media (max-width: 991px) {
  section {
    padding: 40px;
    padding-bottom: 140px;
  }
  header {
    padding: 40px;
  }
  header .logo {
    position: relative;
    max-width: 60px;
  }
  header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }
  header ul.active {
    visibility: visible;
    opacity: 1;
  }
  header ul li a {
    display: inline-block;
    color: #111;
    font-weight: 400;
    margin-left: 0;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
  }
  header ul li a:hover {
    color: #e60c2c;
  }
  .textBox h2 span {
    font-size: 1.5em;
    /* font-weight:900; */
  }

  .toggleMenu {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
  }
  .toggleMenu.active {
    background: url(close.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    filter: invert(1);
  }
  .content {
    flex-direction: column;
    margin-top: 80px;
  }
  .content .textbox {
    position: relative;
    max-width: 100%;
    padding-right: 20px;
  }
  .context .textBox h2 {
    /* color: #fff; */
    font-size: 3em;
  }
  .content .textBox a {
    font-size: 14px;
    padding: 8px 15px;
  }
  .content .ingBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 50px;
    justify-content: center;
  }
  .sci {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
